{% extends 'base.html' %}
{% block content %}
{% for project in projects  %}


    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Название:
        <a href="{% url 'webapp:DetailProjectView' project.pk %} ">{{ project.title }}</a></h5>
      {% if user.is_authenticated %}
    <a href="{% url 'webapp:UpdateProject' project.pk %}" class="card-link">Update</a>
    <a href="{% url 'webapp:DeleteProject' project.pk %}" class="card-link">Delete</a>
    <a href="{% url 'webapp:SoftDeleteProject' project.pk %}" class="card-link">SoftDelete</a>
      {%  endif %}

  </div>
</div>

{% endfor %}

{% if is_paginated %}
        {% include "partial/pagination.html" %}
    {% endif %}


{% endblock %}