{%  extends 'base.html' %}

{%  block content %}
<i>Name:</i> <b>{{ project.title }}</b>
    <br>
    <i>Description: </i><b>
    {% for pro in project.project.all %}
        <a href="{% url 'TaskView' pro.pk %}">{{ pro }}</a></h5>

        <br>
    {%  endfor %}</b>
    <a href="{% url 'CreateProjectTask' project.pk %}">Создать задачу</a>
    <br>
    <a href="{% url 'UpdateProject' project.pk %}">Изменить проект</a>

        {% if is_paginated %}
        {% include "partial/pagination.html" %}
    {% endif %}

{%  endblock %}

